body {
 background: url("C:/Users/HP/Project0/media/vinyl.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}
.header {
    height: 70px;
    width: 100%;
    background-color: #400675;
    text-align: center;
    border-bottom: 1px white solid;
    opacity: 0.6;
}
#image-div{
    height: 100%;
    width: 20%;
    text-align: top;
    display: inline-block;
}
.sound-img{
    height: 100%;
    align-self: center;
    display: inline-block;
}
.nav-link {
    color: #8800cf;
    font-weight: bold;
}
.nav-link:hover{
    color: deeppink;
}
.disable {
    pointer-events: none;
    color: dimgray;
}
.body-hold{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
.middle-div {
    position: relative;
    height: 100%;
    display: inline-block;
    text-align: center;
}
#whitespeaker {
    height: 100%; 
}
p {
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}
.form-row {
        width: 600px;
        height: 400px;
        background: url("C:/Users/HP/Project0/media/mic.jpg") center center fixed;
        background-size: cover;
    }

.music-bracket {
    width: 700px;
    position: absolute;
    text-align: left;
}
.music-text {
    display: inline-block;
    font-size: 0.97rem;
    font-weight: 700;
    color: white;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

@media (min-width: 1026px) {
    .middle-div {
    height: 100%;
    display: inline-block;
}   
}
@media (min-width: 1024px) and (max-width: 1025px) {
    .middle-div {
    height: 100%;
    display: inline-block;
}
}
@media (min-width: 769) and (max-width: 1023px){
    .middle-div {
    height: 100%;
    display: inline-block;
}
p {
    font-size: 2.2rem;
    font-weight: 700;
    color: white; 
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}
.disable {
    pointer-events: none;
    color: dimgray;
}
}
@media (max-width: 899px){
    .middle-div {
    height: 100%;
    display: inline-block;
}
p {
    font-size: 1.05rem;
    font-weight: 700;
    color: white; 
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}  

}

@media (max-width: 768px){
    .middle-div {
    height: 70%;
    display: inline-block;
}
p {
    font-size: 1.35rem;
    font-weight: 700;
    color: white;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}
    .form-row {
        width: 400px;
        background: url("C:/Users/HP/Project0/media/mic.jpg") center center fixed;
        background-size: cover;
            ;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .body-hold{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
.middle-div {
    height: 80%;
    display: inline-block;
}
p {
    font-size: 0.95em;
    font-weight: 700;
    color: whitesmoke;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}
    .form-row {
        width: 300px;
    }
.label-size{
        width: 70%;
        margin: 0 0 0 40px;
}
}

@media (min-width: 376px) and (max-width: 575px) {
p {
    font-size: 0.87rem;
    font-weight: 700;
    color: whitesmoke;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}
    .body-hold{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
.middle-div {
    height: 50%;
    display: inline-block;
    text-align: center;
}
 .form-row {
        width: 300px;
     
    }
    .label-size{
        width: 70%;
        margin: 0 0 0 40px;
}
}
@media (max-width: 414px) {
p {
    font-size: 0.87rem;
    font-weight: 700;
    color: whitesmoke;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}
    .body-hold{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
.middle-div {
    height: 50%;
    display: inline-block;
    text-align: center;
}
 .form-row {
        width: 300px;
     
    }
    .label-size{
        width: 70%;
        margin: 0 0 0 40px;
}
}
@media (max-width: 375.98px) {
p {
    font-size: 0.87rem;
    font-weight: 700;
    color: whitesmoke;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}
    .body-hold{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
.middle-div {
    height: 50%;
    display: inline-block;
    text-align: center;
}
 .form-row {
        width: 300px;
     
    }
    .label-size{
        width: 70%;
        margin: 0 0 0 40px;
}
}
@media (max-width: 320px) {
    .nav-link {
    color: #8800cf;
    font-weight: bold;
    width: 60px;
    font-size: 0.70rem;
}
    .disable {
    pointer-events: none;
    color: dimgray;
}
    #toptext {
    position: absolute;
    bottom: 58%;
    width: 240px;
    vertical-align: middle;
    text-align: center;
}
    p {
    font-size: 0.777rem;
    font-weight: 700;
    color: whitesmoke;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}
}
.contact-us{
    width: 100%;
    height: 30px;
    background-color: black;
    border-bottom: 2px solid white;
}
.white-text{
    color: white;
    font-size: 1.05rem;
    font-weight: 700;
} 
.underline {
    font-style: italic;
    text-decoration: underline;
}
.hover:hover{
    background-color: brown;
    width: 100%;
}
.btn{
    background-color: green;
    border: white 2px solid;
}
.btn:hover{
    background-color: darkorange;
}
.music-div {
    position: relative;
    width: 100%; 
    background-color: rgba(31, 0, 0, 0.4);
    align-items: right;
    margin: 5px;
    border: 2px solid #7a56ff;
}
.track-div {
    left: 790px;
    align-self: center;
    position: relative;
    width: 500px;
    font-size: 10px; 
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
}
    .music-bracket {
    width: 700px;
    position: absolute;
    text-align: left;
}
.music-text {
    display: inline-block;
    font-size: 0.97rem;
    font-weight: 700;
    color: white;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}

@media (max-width: 1300px) {
    .music-div {
    position: relative;
    width: 100%; 
    background-color: rgba(31, 0, 0, 0.4);
    align-items: right;
        margin: 3px;
    border: 1px solid #7a56ff;
}
.track-div {
    left: 540px;
    align-self: center;
    position: relative;
    width: 580px;
    font-size: 10px; 
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
}
    .music-bracket {
    width: 400px;
    position: absolute;
    text-align: left;
    margin: 4px;
}
.music-text {
    display: inline-block;
    font-size: 0.87rem;
    font-weight: 700;
    color: white;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}
}
@media (max-width: 1024px) {
    .music-div {
    position: relative;
    width: 100%; 
    background-color: rgba(31, 0, 0, 0.4);
    align-items: right;
        margin: 3px;
    border: 1px solid #7a56ff;
}
.track-div {
    left: 580px;
    align-self: center;
    position: relative;
    width: 560px;
    font-size: 10px; 
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
}
    .music-bracket {
    width: 500px;
    position: absolute;
    text-align: left;
    margin: 4px;
}
.music-text {
    display: inline-block;
    font-size: 1.20rem;
    font-weight: 700;
    color: white;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}
}
@media (max-width: 899px) {
    .music-div {
    position: relative;
    width: 100%; 
    background-color: rgba(31, 0, 0, 0.4);
    align-items: right;
    margin: 4px;
    border: 2px solid #7a56ff;
}
.track-div {
    left: 480px;
    align-self: center;
    position: relative;
    width: 350px;
    font-size: 10px; 
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
}
    .music-bracket {
    width: 400px;
    position: absolute;
    text-align: left;
        margin: 3px;
}
.music-text {
    display: inline-block;
    font-size: 0.87rem;
    font-weight: 700;
    color: white;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}
}
@media (max-width: 799px){
    .music-div {
    position: relative;
    width: 100%; 
    background-color: rgba(31, 0, 0, 0.4);
    align-items: right;
        margin: 7px;
    border: 1px solid lightblue;
}
.track-div {
    left: 500px;
    align-self: center;
    position: relative;
    width: 250px;
    font-size: 10px; 
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
}
    .music-bracket {
    width: 400px;
    position: absolute;
    text-align: left;
        margin: 6px;
}
.music-text {
    display: inline-block;
    font-size: 0.87rem;
    font-weight: 700;
    color: white;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .music-div {
    position: relative;
    width: 100%; 
    height: 310px;
    background-color: rgba(31, 0, 0, 0.4);
    align-items: right;
    margin: 3px;
    border: 1px solid #7700e5;
}
.track-div {
    left: 10px;
    top: 100px;
    align-self: center;
    position: relative;
    width: 550px;
    font-size: 10px; 
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
}
    .music-bracket {
    width: 550px;
    position: absolute;
    text-align: left;
}
.music-text {
    display: inline-block;
    font-size: 0.80rem;
    font-weight: 700;
    color: white;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}
}
@media (min-width: 376px) and (max-width: 575px) {
    .music-div {
    position: relative;
    width: 100%; 
    height: 310px;
    background-color: rgba(31, 0, 0, 0.4);
    align-items: right;
    margin: 4px;
    border: 1px solid #7a56ff;
}
.track-div {
    left: 10px;
    top: 120px;
    align-self: center;
    position: relative;
    width: 330px;
    font-size: 10px; 
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
}
    .music-bracket {
    width: 340px;
    position: rela;
    text-align: left;
}
.music-text {
    display: inline-block;
    font-size: 0.80rem;
    font-weight: 700;
    color: white;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}
}
@media (max-width: 375px) {
    .music-div {
    position: relative;
    width: 100%; 
    height: 310px;
    background-color: rgba(31, 0, 0, 0.4);
    align-items: right;
    margin: 4px;
    border: 1px solid #7a56ff;
}
.track-div {
    left: 10px;
    top: 120px;
    align-self: center;
    position: relative;
    width: 330px;
    font-size: 10px; 
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
}
    .music-bracket {
    width: 340px;
    position: rela;
    text-align: left;
}
.music-text {
    display: inline-block;
    font-size: 0.80rem;
    font-weight: 700;
    color: white;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
}
}
@media (max-width: 360px) {
    .music-bracket {
    width: 340px;
    position: rela;
    text-align: left;
}
}
@media (max-width: 320px) {
        .music-div {
    position: relative;
    width: 100%; 
    height: 350px;
    background-color: rgba(31, 0, 0, 0.4);
    align-items: right;
    margin: 4px;
    border: 1px solid #7a56ff;
}
    .music-bracket {
    width: 300px;
    position: rela;
    text-align: left;
}
    .track-div {
    left: 10px;
    top: 150px;
    align-self: center;
    position: relative;
    width: 290px;
    font-size: 10px; 
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
}
}
h1 {
    position: relative;
}
.margin{
    position: relative;
    margin: 34px;
    font-size: 1.35rem;
    font-style: italic;
    color: coral;
}
.pic-soon {
    width: 60%;
    height: 100%;
    display: inline-block;
}

#comingSoon {
    height: 100%;
    object-fit: cover;
}
@media (max-width: 1300px) {
.pic-soon {
    position: relative;
    right: 10px;
    height: 90%;
}

#comingSoon {
    height: 90%;
    object-fit: cover;
}
}
@media (max-width: 1024px){
.pic-soon {
    position: relative;
    right: 11%;
    height: 70%;
}

#comingSoon {
    height: 90%;
    object-fit: cover;
}
}
@media (max-width: 768px){
.pic-soon {
    position: relative;
    right: 11%;
    height: 70%;
}

#comingSoon {
    height: 90%;
    object-fit: cover;
}
}
@media (min-width: 576px) and (max-width: 767.98px) {
.pic-soon {
    position: relative;
    right: 7%;
    height: 80%;
}

#comingSoon {
    height: 90%;
    object-fit: cover;
}
}
@media (max-width: 414px) {
.pic-soon {
    position: relative;
    right: 16%;
    height: 70%;
}

#comingSoon {
    height: 60%;
    object-fit: cover;
}
}
@media (max-width: 375px) {
.pic-soon {
    position: relative;
    right: 11%;
    height: 70%;
}

#comingSoon {
    height: 50%;
    object-fit: cover;
}
}